*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier';
    scroll-behavior: smooth;
}

.navbar{
    background: #131313;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier';
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #ff0844;
    transition: all 0.3s ease; /* Clean smooth effect */
}



body{
    background-image: url('background.JPG');
    background-attachment: fixed;
    background-size: cover;
    /*background-position: center;*/
}

.IntroHi{
    padding-top: 15px;
    padding-left: 90px;
    position: relative;
    align-items: center;
    font-size: 2rem;
    font-family: 'Courier';
    color: #fa7a70;
    text-shadow: -1.5px 1.5px 0 #131313, 1.5px 1.5px 0 #131313, 1.5px -1.5px 0 #131313;
}

.IntroName{
    margin-top: 0;
    position: absolute;
    font-size: 3rem;
    font-family: 'Courier';
    color: #fa7a70;
    text-shadow: -1.5px 1.5px 0 #131313, 1.5px 1.5px 0 #131313, 1.5px -1.5px 0 #131313;
    padding-left: 150px;
}

.IntroBox{
    margin: 70px 90px 40px 90px;
    padding: 5px 20px 5px 10px;
    border:1px #131313 solid;
    background-color: #eee;
}




.AboutMeButton{
    text-decoration: none;
    border:1px #131313 solid;
    color: #131313;
    background-color:#ff8177;
    transition: all 0.3s ease;   
}

.AboutMe{
    margin: 80px 90px 35px 90px;
    padding: 10px 10px 10px 20px;
    border:1px #131313 solid;
    background-color: #eee;   
}

.AboutMeTitle{
    color: #fa7a70;  
    font-size: 45px;
    font-family: 'Courier';
    text-shadow: -1.5px 1.5px 0 #131313, 1.5px 1.5px 0 #131313, 1.5px -1.5px 0 #131313;
}

.AboutMeList{
    font-size: 15px;
    font-family: 'Courier';
    list-style: none;
    padding-left: 20px;
}

.AboutMeList li::before{
    content: "\2022";
    color: #fa7a70;
    display: inline-block;
    width: 1em;
    font-weight: bold;
}

.Email{
    text-decoration: none;
    text-decoration: none;
    border:1px #131313 solid;
    color: #131313;
    background-color:#ff8177;
    transition: all 0.3s ease;  
    padding: 1px;
}


.showcase_list{
    list-style: none;
}

.showcase_title{
    font-size: 35px;
    font-family:'Courier';
    padding:0px 100px;
    padding-bottom: 50px;
    padding-top: 0px;
    color: #ff8177;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #131313;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
}


.showcase_item1{
    position: absolute;
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    padding: 5px 5px;
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
    float: left;
}

.showcase_item2{
    position: absolute;
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    margin-left: 500px;
}

.showcase_item3{
    position: absolute;
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    padding: 5px 5px 0px 5px;
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin-left: 20px;
    margin-top: 350px;
}

.showcase_item4{
    position: absolute;
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    margin-left: 470px;
    margin-top: 350px;
}

.showcase_image{
    border:1px #131313 solid;
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {width: 100%}

.showcase_text{
    color: #131313;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

.ShowcaseIndLists{
    display: inline-block;
    list-style: none;
    margin: 10px;
}


.MyWork_title{
    font-size: 30px;
    font-family:'Courier';
    padding:30px 100px 10px 100px;
    color: #ff8177;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #131313;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
    margin: 0;
}

.MyWork_item{
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:0;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    list-style: none;
    padding:5px;
    padding-bottom: 25px;
}

.ReadMoreButton{
    float:right;
    text-decoration: none;
    border:1px #131313 solid;
    color: #131313;
    background-color:#ff8177;
    transition: all 0.3s ease;
}

.ReadMoreButton:hover{
    background-color:#ffb199;
    transition: all 0.3s ease;
    cursor: pointer;
}



.ReadMore{
    border:1px #131313 solid;
    background-color: #eee;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    list-style: none;
    padding:5px;
    padding-bottom: 25px;  
    padding-top: 5px;
}

.ReadMoreList{
    list-style: none;
}

.ReadMoreText{
    color: #131313;
    word-wrap: break-word;
    font-size: 15px;
    font-family:'Courier';
    text-align: justify;
    text-justify: inter-word;
}

.Video{
    border: 5px #131313;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    width: 620px;
    height: 440px;
}

.PlayPauseButton{
    text-decoration: none;
    border:0.5px #131313 solid;
    color: #131313;
    background-color:#ff8177;
    transition: all 0.3s ease;
    display: relative;
}

.PlayPauseButton:hover{
    background-color:#ffb199;
    transition: all 0.3s ease;
    cursor: pointer;
}

.VideoButton{
    list-style: none;
}



.footerScroll{
    border:1px #131313 solid;
    background: #131313;
    padding:20px 20px;
    position: relative;
    width: 100%;
}

.footerNoScroll{
    position: absolute;
    border:1px #131313 solid;
    background: #131313;
    padding:20px 20px;
    width: 100%;
    bottom: -40%;
    margin-top: 30px;
}

.footerAboutMe{
    position: absolute;
    border:1px #131313 solid;
    background: #131313;
    padding:20px 20px;
    width: 100%;
    bottom: 0%;
}

.FooterText{
    font-size: 15px;
    font-family:'Courier';
    color: #c9c9c9;
}

@media screen and (max-width: 960px){

    *{
        margin: 0;
    }
    
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){ /* Making the menu spin */
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .showcase_image{
        width: 50%;
    }

    .showcase_text{
        font-size: 15px;
    }

    .IntroBox{
        margin-top: 80px;
    }

    .IntroName{
        font-size:50px;
        padding-left:100px;
    }

    .showcase_title{
        padding-top: 10px;
    } 


}

@media screen and (max-width: 900px){
    .showcase_item4{
        display: block;
        margin-left: 60px;
        margin-top: 1200px;
        padding: 10px 10px;
        width:60%;
    }

    .showcase_item2{
        display: block;
        margin-left: 90px;
        margin-top: 400px;
        padding: 10px 10px;
        width:60%;
    }

    .showcase_item1{
        display: block;
        margin-left: 80px;
        padding: 10px 10px;
        width:60%;

    }

    .showcase_item3{
        display: block;
        margin-left: 60px;
        margin-top: 800px;
        padding: 10px 10px;
        width:60%;

    }

    .showcase_title{
        margin-left: 40px;
    }

    .footerNoScroll{
        position: absolute;
        bottom: -150%;
    }
}

@media screen and (max-width: 700px){
    .footerAboutMe{
        position: relative;
        bottom: -1000%;
    }
    .Video{
        width: 380px;
        height: 200px;
    }
}

@media screen and (max-height: 900px){
    .footerNoScroll{
        position: fixed;
    }

    .showcase_item3, .showcase_item4{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1000px){

    .ReadMore, .MyWork_item{
        margin:30px;
    }
}

@media screen and (min-width: 1100px){
    .MyWork_item{
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media screen and (min-width: 1030px){
    .showcase_item4, .showcase_item2{
        margin-left: 570px;
    }
}

@media screen and (min-width: 1310px){
    .showcase_item4, .showcase_item2{
        margin-left: 735px;
    }
}

@media screen and (min-width: 1500px){
    .showcase_item2{
        margin-left: 860px;
    }

    .showcase_item4{
        margin-left: 832px;
        padding-bottom: 20px;
    }

    .showcase_item3{
        padding-bottom: 5px;
    }
}